.content>div {
    /* background-color: aqua; */
    border-right: 1px solid black;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
    background-color: #A1C5E9;
    height: 1200px;
}
.toolbar button a{
	text-decoration: none;
	color: black;
}