.add-label1 {
    width: 100%;
    margin-bottom: 5px;
}

.add-label1 span {
    position: relative;
    width: 100px;
    display: inline-block;
}

.add {
    display: flex;
}

.btn-add {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.btn-add button {
    width: 60px;
}

.btn-confirm {
    text-align: right;
    position: relative;
    top: 20px;
}